.c-quotes-cont {
  padding-top: 5rem;
}

.c-quotes-cont h2 {
  color: #CEBCCC;
}

.clase-test {
  width: 100%;
}
.carousel.container {
  max-height: 500px;
}

.slide-cont {
  height: 100vw;
  max-height: 500px;
  max-width: 500px;
  margin: auto;
}
.slide-1 {
  background: url("../../img/carrousel-1.png") no-repeat center center;
  background-size: cover;
  height: 100vw;
  max-height: 500px;
}
.slide-2 {
  background: url("../../img/carrousel-2.png") no-repeat center center;
  background-size: cover;
  height: 100vw;
  max-height: 500px;
}
.slide-3 {
  background: url("../../img/carrousel-3.png") no-repeat center center;
  background-size: cover;
  height: 100vw;
  max-height: 500px;
}
.slide-4 {
  background: url("../../img/carrousel-4.png") no-repeat center center;
  background-size: cover;
  height: 100vw;
  max-height: 500px;
}
.slide-5 {
  background: url("../../img/carrousel-5.png") no-repeat center center;
  background-size: cover;
  height: 100vw;
  max-height: 500px;
}
.slide-6 {
  background: url("../../img/carrousel-6.png") no-repeat center center;
  background-size: cover;
  height: 100vw;
  max-height: 500px;
}
.slide-7 {
  background: url("../../img/carrousel-7.png") no-repeat center center;
  background-size: cover;
  height: 100vw;
  max-height: 500px;
}
.slide-8 {
  background: url("../../img/carrousel-8.png") no-repeat center center;
  background-size: cover;
  height: 100vw;
  max-height: 500px;
}
.slide-9 {
  background: url("../../img/carrousel-9.png") no-repeat center center;
  background-size: cover;
  height: 100vw;
  max-height: 500px;
}
.slide-10 {
  background: url("../../img/carrousel-10.png") no-repeat center center;
  background-size: cover;
  height: 100vw;
  max-height: 500px;
}
.slide-11 {
  background: url("../../img/carrousel-11.png") no-repeat center center;
  background-size: cover;
  height: 100vw;
  max-height: 500px;
}
.slide-12 {
  background: url("../../img/carrousel-12.png") no-repeat center center;
  background-size: cover;
  height: 100vw;
  max-height: 500px;
}
.slide-13 {
  background: url("../../img/carrousel-13.png") no-repeat center center;
  background-size: cover;
  height: 100vw;
  max-height: 500px;
}

.slide-text-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
  width: 100%;
  height: 100%;
}
.slide-text {
  color: white;
}

.swipe-cont {
  position: relative;
  z-index: 1;
}

.action-btn {
  font-size: 1.5rem;
  color: #cebccc;
  position: absolute;
  z-index: 2;
  top: calc(50%);
  padding: 1rem;
  cursor: pointer;
}

.btn-next {
  right: 0;
}

.btn-saber-mas {
  margin: auto;
  display: block;
  width: fit-content;
  background-color: #CEBCCC;
  color: white;
  font-size: 1.25rem;
  margin-top: 2rem;
  
}
.btn-saber-mas:hover { 
  color: #CEBCCC;

}

@media screen and (max-width: 769px) {
  .slide-text {
    width: 80%;
  }
}
