.questions-cont {
  padding: 2rem 0;
}

.questions-cont div {
  text-align: center;
}

.questions-cont h2 {
  color: #CEBCCC;
}

.questions-img-cont.pizarra-pared-cont::after {
  display: block;
  content: "";
  background: rgb(206, 188, 204);
  width: 69%;
  height: 100%;
  position: absolute;
  top: 5%;
  left: 222px;
  z-index: 2;
  border-radius: 8px;
}

.questions-img.pizarra-sticky {
    width: auto;
    max-width: 700px;
    max-height: 100%;
    box-shadow: 0px 8px 30px -5px rgba(206, 188, 204, 1);
    border-radius: 8px;
    position: relative;
    z-index: 3;
}

.questions-img-cont.pizarra-sticky-cont {
    position: relative;
    

}
/* .questions-img-cont.pizarra-sticky-cont::after {
  display: block;
  content: "";
  background: #CEBCCC;
  width: 75%;
  height: 100%;
  position: absolute;
  top: 5%;
  left: 200px;
  z-index: 2;
  border-radius: 8px;
} */

@media screen and (max-width: 769px) {
    .questions-img.pizarra-pared {
        max-width: 90%;
    }
    .questions-img-cont.pizarra-pared-cont::after {
        display: block;
        content: "";
        background: #CEBCCC;
        width: 95%;
        height: 100%;
        position: absolute;
        top: 5%;
        left: 2.5%;
        z-index: 2;
        border-radius: 8px;
      }
    .questions-img.pizarra-sticky {
        max-width: 90%;
    }
  }
  