.questions-cont {
    padding: 5rem 0;
}

.questions-img-cont {
    height: 550px;
    background: url('../../img/blackboard_auto_x2_auto_x2.jpg') no-repeat center center;
    background-size: cover;
}

.questions-img {
    width: auto;
}