@font-face {
  font-family: "BellB";
  src: url("/public/fonts/Bell/BELLB.TTF");
}

.hero-cont {
  height: 550px;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../img/v5.png") no-repeat center
    center;
  background-size: contain;
  color: black;
  text-align: center;
}
.hero-yotu {
  background-color: #99FFEE;
  font-family: "BellB";
}
.hero-counseling {
  background-color: #D0B2FF;
  color: white;
  font-family: "BellB";
}
.hero-sub-1 {
  background-color: #ff5050;
  color: white;
  width: fit-content;
  font-size: 1.5rem;
}
.hero-sub-2 {
  background-color: white;
  color: #c3bd96;
  width: fit-content;
  font-size: 1.5rem;
}


.hero-card-title {
  font-size: 3rem;
}

.hero-bajada{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 950px) {
  .hero-card-title {
    font-size: 2.25rem;
  }
  .hero-cont {
    background: url("../../img/Mobile_v2.png") no-repeat center
      center;
    background-size: cover;
    height: 450px;
  }
  .hero-bajada p{
    font-size: 0.95rem;
  }
  .hero-sub-2 {
    width: 100%;
  }
  .hero-guion {
    display: none;
  }
  .hero-enfoque {
    display: block;
  }
}
/* @media screen and (max-width: 500px) {
  .hero-cont {
    background: url("../../img/Mobile_v2.png") no-repeat center
      center;
    background-size: cover;
    height: 450px;
  }
  .hero-bajada p{
    font-size: 0.95rem;
    max-width: 90%;
  }
  .hero-sub-2 {
    width: 100%;
  }
  .hero-guion {
    display: none;
  }
  .hero-enfoque {
    display: block;
  }
}
*/
