nav {
  display: flex;
  justify-content: center;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 8;
  /* transition:  ease-in-out 0.3s; */
}
.nav-brand {
  z-index: 5;
}
.nav-brand-icon {
  transition: all 0.3s ease-in-out;
}
.nav-brand-text {
  padding-left: 1rem;
  overflow: hidden;
  transition: opacity 0.5s ease, transform 0.3s ease;
  color: white;
  display: inline-flex;
}
.nav-brand-text:hover {
  color: #CEBCCC;
}
.nav-bg {
  z-index: 9;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: background ease-in-out 0.3s;
}
.nav-top {
  background-color: #CEBCCC;
}
.nav-top ~ .nav-cont .nav-brand-icon {
  background: url("../../img/icons/hand-fan-white.svg") no-repeat center left;
  background-size: contain;
  padding: 1.5rem;
}

.nav-top ~ .nav-cont .nav-brand-text {
  opacity: 0;
  transform: translateY(10px);
}

.nav-scrolled {
  background-color: #CEBCCC;
}

.nav-scrolled ~ .nav-cont .nav-brand-icon {
  background: url("../../img/icons/hand-fan-white.svg") no-repeat center left;
  background-size: contain;
  padding: 1.5rem;
}
.nav-scrolled ~ .nav-cont .nav-brand-text {
  transition-delay: 0.5s;
}
.nav-scrolled ~ .nav-cont .nav-items li a {
  color: #fff;
}

.nav-top ~ .nav-cont .nav-items li a {
  color: #fff;
}

.nav-cont {
  z-index: 10;
  background: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.nav-items li {
  padding: 0 1rem;
  position: relative;
  transition: 0.15s ease-in-out;
}
.nav-items li:hover {
  transform: translateY(-3px);
}
.nav-items li a {
  transition: color 0.15s ease-in-out;
  
}
.nav-cont .nav-items li a:hover {
  border-bottom: 3px solid #99FFEE;
  color: #99FFEE;
  padding-bottom: 3px;
}
.nav-cont .nav-items li a.active {
  color: #99FFEE;
}

#mobile {
  display: none;
  z-index: 4;
}

@media screen and (max-width: 769px) {
  #mobile {
    display: block;
  }
  .nav-items {
    z-index: 3;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    padding-top: 70px;
    right: -200px;
    background-color: #fff;
    height: 100vh;
    width: 200px;
    transition: 0.3s ease-in-out;
  }
  .nav-items.active {
    right: 0;
  }
  .nav-items li {
    margin-bottom: 1rem;
  }
  .nav-items a {
    color: black !important;
  }
}

.color-white {
  color: white;
}
