.counseling-cont {
  padding-top: 70px;
}

.counseling-cont h1 {
  margin-bottom: 2rem;
  color: #cebccc;
}
.counseling-cont h2 {
  margin-bottom: 2rem;
  color: #cebccc;
}

.counseling-info-cont {
  display: flex;
  gap: 3rem;
  /* align-items: center; */
  /* width: 80%; */
}
.counseling-img-cont {
  position: relative;
  text-align: center;
}
.counseling-img-cont::after {
  display: block;
  content: "";
  background: #cebccc;
  width: 100%;
  height: 92%;
  position: absolute;
  top: 15px;
  left: 23px;
  z-index: 2;
  border-radius: 4px 48px 4px 48px;
}
.counseling-img-cont img {
  /* width: 100%; */
  border-radius: 6px 4rem 6px 64pt;
  position: relative;
  z-index: 3;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

.temas-counseling-cont {
  padding: 7rem 0;
}
.temas-counseling-list {
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  justify-content: center;
  width: 60%;
}
.temas-counseling-list {
  font-size: 1.15rem;
}

.pilares-cont .pilares-list {
  background: #ebebeb;
  padding: 2rem 3rem;
  border-radius: 1rem;
  margin: 4rem 0;
  box-shadow: 0.7px 1px 3.2px rgba(0, 0, 0, 0.017),
    1.7px 2.3px 7.6px rgba(0, 0, 0, 0.024),
    3.3px 4.4px 14.3px rgba(0, 0, 0, 0.03),
    5.8px 7.8px 25.5px rgba(0, 0, 0, 0.036),
    10.9px 14.6px 47.6px rgba(0, 0, 0, 0.043),
    26px 35px 114px rgba(0, 0, 0, 0.06);
}

.pilares-cont li {
  background: url("../../img/icons/arrow.svg") no-repeat top left;
  background-size: 1.5rem;
  padding-left: 2rem;
}

@media screen and (max-width: 950px) {
  .counseling-cont h2 {
    max-width: 80%;
    margin: auto;
    text-align: center;
  }
  .counseling-info-cont {
    display: flex;
    flex-direction: column-reverse;
  }
  .counseling-img-cont img {
    width: 80%;
    height: 250px;
    object-fit: cover;
  }
  .counseling-img-cont::after {
    width: 80%;
    height: 98%;
    top: 8%;
    left: 15%;
  }

  .temas-counseling-cont {
    padding: 3rem 0;
  }

  .temas-counseling-list {
    width: 80%;
  }

  .temas-counseling-cont h2 {
    margin-bottom: 3rem;
  }
  .pilares-cont {
    padding-top: 4rem;
  }
  .pilares-cont .pilares-list {
    padding: 2rem 1rem;
    margin-bottom: 0;
  }
  .pilares-cont ul {
    padding-left: 0;
  }
}
