.counseling-cont {
  padding-top: 70px;
}

.counseling-cont h2 {
  margin-bottom: 2rem;
}

.counseling-info-cont {
  display: flex;
  gap: 3rem;
  /* align-items: center; */
}
.counseling-img-cont {
  position: relative;
  text-align: center;
}
.counseling-img-cont::after {
  display: block;
  content: "";
  background: violet;
  width: 100%;
  height: 92%;
  position: absolute;
  top: 15px;
  left: 23px;
  z-index: 2;
  border-radius: 4px 48px 4px 48px;
}
.counseling-img-cont img {
  /* width: 100%; */
  border-radius: 6px 4rem 6px 64pt;
  position: relative;
  z-index: 3;
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07)
;
}

@media screen and (max-width: 950px) {
    .counseling-info-cont {
      display: flex;
      flex-direction: column-reverse;
        }
    .counseling-img-cont img {
      width: 80%;
      height: 250px;
      object-fit: cover;
    }
    .counseling-img-cont::after {
      width: 80%;
      height: 98%;
      top: 8%;
      left: 15%;
    }
  }
  

swiper-container {
  width: 240px;
  height: 320px;
}

swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: black;
  background-color: #ebebeb;
}

swiper-slide span {
  padding-top: 6rem;
}
swiper-slide span::after {
  display: block;
  content: "";
  width: 2rem;
  height: 2px;
  margin: auto;
  margin-top: 2rem;
  background: #000;
}

swiper-slide:nth-child(1n) span {
  background: url("../../img/etapas-vitales.svg") no-repeat top center;
  background-size: 5rem;
}

swiper-slide:nth-child(2n) span {
  background: url("../../img/identidad.svg") no-repeat top center;
  background-size: 5rem;
}

swiper-slide:nth-child(3n) span {
  background: url("../../img/adolescencia.svg") no-repeat top center;
  background-size: 5rem;
}

swiper-slide:nth-child(4n) span {
  background: url("../../img/familia.svg") no-repeat top center;
  background-size: 5rem;
}

swiper-slide:nth-child(5n) span {
  background: url("../../img/educacion.svg") no-repeat top center;
  background-size: 5rem;
}

swiper-slide:nth-child(6n) span {
  background: url("../../img/adicciones.svg") no-repeat top center;
  background-size: 5rem;
}

swiper-slide:nth-child(7n) span {
  background: url("../../img/desarrollo-personal.svg") no-repeat top center;
  background-size: 5rem;
}

swiper-slide:nth-child(8n) span {
  background: url("../../img/sexualidad.svg") no-repeat top center;
  background-size: 5rem;
}

swiper-slide:nth-child(9n) span {
  background: url("../../img/espiritualidad.svg") no-repeat top center;
  background-size: 5rem;
}

swiper-slide:nth-child(10n) span {
  background: url("../../img/laboral.svg") no-repeat top center;
  background-size: 5rem;
}
