footer {
  padding-bottom: 4rem;
  padding-top: 4rem;
  margin-top: auto;
}

footer ul {
  padding: 0;
  display: flex;
  /* justify-content: space-between; */
  gap: 25%;
}

footer h2 {
  color: #CEBCCC;
}

footer a {
  color: black;
  display: flex;
  transition: color, transform 0.15s ease-in-out;
  position: absolute;
  margin-left: 2rem;
}

footer .tamara-name p{
  position: absolute;
  display: inline-block;
  margin-left: 2rem;
  
}

footer a:hover {
  transform: translateY(-3px);
  border-bottom: 3px solid #CEBCCC;
  color: #CEBCCC;
  padding-bottom: 3px;
}

.icons-footer {
  font-size: 1.5rem;
}

@media screen and (max-width: 950px) {
  footer ul {
    flex-direction: column;
  }

  footer ul li {
    margin-bottom: 2rem;
  }
}
