footer {
  padding-bottom: 4rem;
  padding-top: 4rem;
  margin-top: auto;
  font-size: 1.15rem;
}

footer ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
  /* gap: 25%; */
}

footer h2 {
  color: #CEBCCC;
}

footer ul a, footer ul p {
  color: black;
  /* display: flex; */
  transition: color, transform 0.15s ease-in-out;
  /* position: absolute; */
  /* margin-left: 1rem; */
  margin-bottom: 0;
}

footer ul a span {
  vertical-align: text-bottom;
}

footer a:hover {
  transform: translateY(-3px);
  border-bottom: 3px solid #99FFEE;
  color: #99FFEE;
  padding-bottom: 3px;
}

.icons-footer {
  font-size: 1.5rem;
}
.footer-consultas {
  background-color: #99FFEE;
  color: #898046;
  width: fit-content;
}
.footer-destinado {
  background-color: rgba(205, 198, 204, 1);
  color: #99FFEE;
  width: fit-content;
}

@media screen and (max-width: 950px) {
  footer ul {
    flex-direction: column;
  }

  footer ul li {
    margin-bottom: 2rem;
  }
}
