html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  /* font-family: 'Satoshi-Bold'; */
  font-weight: 600;
}
.negritas {
  /* font-family: 'Satoshi-Bold'; */
  font-weight: 600;
}

#root {
  /* min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto; */
}
.flex-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.bg-gray {
  background-color: gray;
}

.h2-title {
  /* font-family: 'Satoshi-Bold'; */
  font-weight: 600;
  font-size: 2rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.swiper-button-prev {
  color: red !important;
  /* background: url("../../img/circle-arrow-left-solid.svg") no-repeat center center !important; */
  /* background-size: cover; */
}
