html {
  scroll-behavior: smooth;
}

body {
  background: #ccc5cb;
  background: -moz-linear-gradient(left,  rgba(137, 128,70,0.28) 0%, #fff 5%, #fff 95%, rgba(137, 128,70,0.28) 100%);
  background: -webkit-linear-gradient(left,  rgba(137, 128,70,0.28) 0%,#fff 5%, #fff 95%,rgba(137, 128,70,0.28) 100%);
  background: linear-gradient(to right,  rgba(137, 128,70,0.28) 0%,#fff 5%, #fff 95%,rgba(137, 128,70,0.28) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccc5cb', endColorstr='#ccc5cb',GradientType=1 ); 
  /* background: -moz-linear-gradient(left,  rgba(205, 198, 204, 0.5) 0%, rgba(137, 128,70,0.28) 5%, rgba(137, 128,70,0.28) 95%, rgba(205, 198, 204, 0.5) 100%);
  background: -webkit-linear-gradient(left,  rgba(205, 198, 204, 0.5) 0%,rgba(137, 128,70,0.28) 5%, rgba(137, 128,70,0.28) 95%,rgba(205, 198, 204, 0.5) 100%);
  background: linear-gradient(to right,  rgba(205, 198, 204, 0.5) 0%,rgba(137, 128,70,0.28) 5%, rgba(137, 128,70,0.28) 95%,rgba(205, 198, 204, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccc5cb', endColorstr='#ccc5cb',GradientType=1 );  */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: 'Satoshi-Bold'; */
  font-weight: 600;
}
.negritas {
  /* font-family: 'Satoshi-Bold'; */
  font-weight: 600;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bg-gray {
  background-color: gray;
}

.h2-title {
  /* font-family: 'Satoshi-Bold'; */
  font-weight: 600;
  font-size: 2rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.swiper-button-prev {
  color: red !important;
  /* background: url("../../img/circle-arrow-left-solid.svg") no-repeat center center !important; */
  /* background-size: cover; */
}
