html {
  scroll-behavior: smooth;
}

body {
  background: #ccc5cb;
  background: -moz-linear-gradient(left,  #ccc5cb 0%, #ffffff 15%, #ffffff 85%, #ccc5cb 100%);
  background: -webkit-linear-gradient(left,  #ccc5cb 0%,#ffffff 15%,#ffffff 85%,#ccc5cb 100%);
  background: linear-gradient(to right,  #ccc5cb 0%,#ffffff 15%,#ffffff 85%,#ccc5cb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccc5cb', endColorstr='#ccc5cb',GradientType=1 ); 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: 'Satoshi-Bold'; */
  font-weight: 600;
}
.negritas {
  /* font-family: 'Satoshi-Bold'; */
  font-weight: 600;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bg-gray {
  background-color: gray;
}

.h2-title {
  /* font-family: 'Satoshi-Bold'; */
  font-weight: 600;
  font-size: 2rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.swiper-button-prev {
  color: red !important;
  /* background: url("../../img/circle-arrow-left-solid.svg") no-repeat center center !important; */
  /* background-size: cover; */
}
