@font-face {
  font-family: 'Satoshi-Light';
  src: url('/public/fonts/Satoshi-Light.otf');
}
@font-face {
  font-family: 'Satoshi-Regular';
  src: url('/public/fonts/Satoshi-Regular.otf');
}
@font-face {
  font-family: 'Satoshi-Medium';
  src: url('/public/fonts/Satoshi-Medium.otf');
}
@font-face {
  font-family: 'Satoshi-Bold';
  src: url('/public/fonts/Satoshi-Bold.otf');
}
@font-face {
  font-family: 'Satoshi-Black';
  src: url('/public/fonts/Satoshi-Black.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  margin: 0;
  font-family: 'Bahnschrift','Satoshi-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 350;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#shadow-root .swiper-button-prev {
  color: red !important;
  /* background: url("../../img/circle-arrow-left-solid.svg") no-repeat center center !important; */
  /* background-size: cover; */
}
