@font-face {
  font-family: "Bahnschrift";
  src: url("/public/fonts/Bahnschrift/BAHNSCHRIFT.TTF");
}
@font-face {
  font-family: "Bell";
  src: url("/public/fonts/Bell/BELL.TTF");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Bahnschrift", 'Calibri', Arial, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 350;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#shadow-root .swiper-button-prev {
  color: red !important;
  /* background: url("../../img/circle-arrow-left-solid.svg") no-repeat center center !important; */
  /* background-size: cover; */
}
