.work-cont {
    padding: 5rem 0;
}
.work-cont .container  {
    display: grid;
    grid-template-columns: 25% 1fr;
    gap: 4rem;
    align-items: center;
}
.work-cont h2 {
    color: violet;
}
.work-img {
    width: 100%;
    border-radius: 6px 4rem 6px 4rem;
}
.work-text-cont p:last-child {
    margin-bottom: 0;
}