.work-cont {
  padding: 5rem 0 4rem 0;
  max-width: 900px;
  margin: auto;
}
.work-cont h2 {
  color: #cebccc;
}
.collage {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.collage .img-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.work-img {
  width: 100%;
  z-index: 3;
}
.work-text-cont {
  font-size: 1.15rem;
}
.work-text-cont p:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 950px) {
  .work-cont {
    width: 80%;
    margin: auto;
  }
  .collage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  .collage .img-text {
    flex-direction: column-reverse;
  }
}
